.pg_button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
  padding: 1rem;
  margin: 1rem;
  transition: color 0.3s ease;
  &:hover {
    color: rgb(122, 176, 122);
  }
}

.active {
  width: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(128, 0, 128, 0.716);
  border: 2px solid rgb(122, 176, 122);
  border-radius: 50%;
  color: rgb(122, 176, 122);
  padding: 0.5rem;
  margin: 1rem;
}

@media only screen and (max-width: 360px) {
  .pg_button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .active {
    width: 20px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  }
}