.register_section {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.511);
  color: lightgray;
  padding: 2rem;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.494);
    border: 10px solid rgba(255, 255, 255, 0.039);
    padding: 2rem;
    fieldset {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
      label,
      p {
        margin: 1rem;
      }
      input {
        margin-right: 0.5rem;
        background-color: rgba(167, 164, 164, 0.461);
        color: black;
        border: none;
        padding: 0.3rem;
        transition: background-color 0.3s ease;
        &::placeholder {
          color: black;
          opacity: 0.5;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.461);
        }
      }
    }
  }
  button {
    width: 96%;
    text-align: center;
    background-color: lightgray;
    padding: 0.5rem 0;
    transition: all 0.3s ease;
    &:hover {
      letter-spacing: 0.5rem;
      background-color: white;
      color: black;
    }
  }
  .back_button {
    font-size: 14px;
    background-color: rgba(65, 65, 65, 0.455);
    border: 1px solid rgba(65, 65, 65, 0.455);
    padding: 3px 0;
    &:hover {
      background-color: rgba(128, 128, 128, 0.317);
      color: lightgray;
    }
  }
}
