body {
  height: 100vh;
  background-image: url("../assets/images/bg_home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  background-color: #0f0f0f;
  color: white;
  position: fixed;
  bottom: 0;
  padding: 0.4rem;
}
